#!/usr/bin/env bash

# Check if pass cli is installed
if [[ -x "$(command -v pass)" ]]; then
    PASSWORD_STORE_DIR=$(pwd)/passwords
    export PASSWORD_STORE_DIR="${PASSWORD_STORE_DIR}"

    INFOMANIAK_DYNDNS_WILDCARD_INFOMANIAK_API_TOKEN=$(pass show infomaniak/api-token)
    export INFOMANIAK_DYNDNS_WILDCARD_INFOMANIAK_API_TOKEN
fi

export INFOMANIAK_DYNDNS_WILDCARD_TIME_BETWEEN_UPDATES_IN_SECONDS=10
export INFOMANIAK_DYNDNS_WILDCARD_DNS_ZONE_ID='itsalex.fr'
export INFOMANIAK_DYNDNS_WILDCARD_RECORD_NAME='example'
